asgiref==3.10.0
attrs==25.4.0
dj-database-url==2.3.0
Django==5.2.7
django-extensions==4.1
django-filter==25.1
django-taggit==6.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.27.2
drf-spectacular-sidecar==2025.10.1
drf-yasg==1.21.8
gunicorn==23.0.0
importlib_resources==6.5.2
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.27.1
sqlparse==0.5.3
swagger-spec-validator==3.0.4
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
whitenoise==6.7.0
